*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 2vw, 16px);
}

body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 800px;
  height: 100vh;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

article {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  transition: background-color 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease
}

article:hover {
  background-color: #dfdfdf6e;
  padding: 0.5rem;
  border-radius: 15px;
  box-shadow: 5px 20px 20px 10px rgba(0, 0, 0, 0.151);
}

article > img {
  width: clamp(120px, 20vw, 160px);
  height: auto;
  border-radius: 15px;
  align-self: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1,
h2 {
  color: #000000;
  font-weight: 600;
}

h1 {
  font-size: 2.25rem;
  text-align: center;
  
  width: 100%;
  max-width: 673px;
}

h2 {
  font-size: 1.25rem;
}

p {
  color: #6c727f;
  font-size: 0.875rem;
  font-weight: 500;
}

@media  (max-width: 480px) {

  
  article {
    flex-direction: column;
    gap: 1rem;
  }

  h2, p {
    text-align: center;
  }
}